{% extends 'main/_layout.html' %}
{% load static %}
{% block title %}
    صفحه ورود
{% endblock %}

{% block content %}


    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>ورود</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">خانه<span class="lnr lnr-arrow-left"></span></a>
                        <a href="#">ورود</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Login Box Area =================-->
    <section id="auth-section" class="login_box_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login_box_img">
                        <img class="img-fluid" src="{% static 'img/login.jpg' %}" alt="">
                        <div class="hover">
                            <h4>جدید به وب سایت ما؟</h4>
                            <p>هر روز پیشرفت هایی در علم و فناوری صورت می گیرد و نمونه بارز آن همین است</p>
                            <a class="primary-btn" href="{% url 'register' %}">ایجاد حساب</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login_form_inner">
                        <h3>صفحه ورود</h3>
                        <form class="row login_form" method="post" id="loginForm" novalidate>

                            {% csrf_token %}

                            <div class="col-md-12 form-group">
                                {{ form.username_phone }}

                            </div>

                            <div class="col-md-12 form-group">
                                {{ form.password }}
                                {{ form.password.errors }}
                                {{ form.username_phone.errors }}
                            </div>

                            {% if form.non_field_errors %}
                                <div class="col-md-12 form-group">
                                    {{ form.non_field_errors }}
                                </div>
                            {% endif %}

                            <div class="col-md-12 form-group">
                                <div class="creat_account">
                                    <input type="checkbox"
                                           id="remember_me"
                                           name="remember_me">
                                    <label for="remember_me">مرا به خاطر بسپار</label>
                                </div>
                                <div class="col-md-12 form-group">
                                    <button type="submit"
                                            class="primary-btn">
                                        ورود
                                    </button>

                                    <a href="{% url 'forgot_password' %}">
                                        فراموشی رمز عبور؟
                                    </a>
                                </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Login Box Area =================-->





{% endblock %}