{% extends 'main/_layout.html' %}
{% load static %}
{% block title %}
    صفحه فعالسازی
{% endblock %}

{% block content %}


    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>ثبت نام </h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">خانه<span class="lnr lnr-arrow-left"></span></a>
                        <a href="#">صفحه دریافت کد فعالسازی</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================register Box Area =================-->
    <section id="auth-section" class="login_box_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login_box_img">
                        <img class="img-fluid" src="{% static 'img/login.jpg' %}" alt="">
                        <div class="hover">
                            <h4>قبلا ثبت نام کرده اید؟</h4>
                            <p>درصورتی که از قبل حساب کاربری خود را ایجاد کرده اید به صفحه ورود وارد شوید</p>
                            <a class="primary-btn" href="{% url 'login' %}">صفحه ورود </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login_form_inner">
                        <h3>برای ثبت نام اطلاعات را کامل کنید</h3>
                        <form class="row login_form" method="post" id="verifyRegisterForm" novalidate>

                            {% csrf_token %}

                            <div class="col-md-12 form-group">

                                {{ form.code }}

                                {{ form.code.errors }}

                            </div>


                            <div class="col-md-12 form-group">

                                <button type="submit" class="primary-btn">

                                    تایید حساب

                                </button>

                            </div>


                            {% if form.non_field_errors %}

                                <div class="col-md-12">

                                    {{ form.non_field_errors }}

                                </div>

                            {% endif %}

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End register Box Area =================-->





{% endblock %}