{% extends 'main/_layout.html' %}
{% load static %}
{% block title %}
    صفحه دریافت کد فعالسازی
{% endblock %}

{% block content %}


    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>ورود</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">خانه<span class="lnr lnr-arrow-left"></span></a>
                        <a href="#">صفحه دریافت کد فعالسازی</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Login Box Area =================-->
    <section id="auth-section" class="login_box_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login_box_img">
                        <img class="img-fluid" src="{% static 'img/login.jpg' %}" alt="">
                        <div class="hover">

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login_form_inner">
                        <h3>کد ارسال شده را وارد کنید</h3>
                        <form class="row login_form" method="post" id="verifyForgotPasswordForm" novalidate>

                            {% csrf_token %}


                            <div class="col-md-12 form-group">

                                {{ form.code }}
                                {{ form.code.errors }}

                            </div>



                            {% if form.non_field_errors %}

                                <div class="col-md-12 form-group">

                                    {{ form.non_field_errors }}

                                </div>

                            {% endif %}



                            <div class="col-md-12 form-group">

                                <button type="submit"
                                        class="primary-btn">

                                    تایید کد

                                </button>


                                <a href="{% url 'forgot_password' %}">

                                    ارسال مجدد کد

                                </a>

                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Login Box Area =================-->





{% endblock %}