{% extends 'main/_layout.html' %}
{% load static %}
{% block title %}
	صفحه مقالات
{% endblock %}

{% block content %}

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>وبلاگ</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">خانه<span class="lnr lnr-arrow-left"></span></a>
                        <a href="#">وبلاگ</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Blog Categorie Area =================-->
    <section class="blog_categorie_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="categories_post">
                        <img src="{% static 'img/blog/cat-post/cat-post-3.jpg' %}" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="blog-details.html">
                                    <h5>زندگی اجتماعی</h5>
                                </a>
                                <div class="border_line"></div>
                                <p>از زندگی اجتماعی خود با هم لذت ببرید</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories_post">
                        <img src="{% static 'img/blog/cat-post/cat-post-2.jpg' %}" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="blog-details.html">
                                    <h5>سیاست</h5>
                                </a>
                                <div class="border_line"></div>
                                <p>بخشی از سیاست باشید</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories_post">
                        <img src="{% static 'img/blog/cat-post/cat-post-1.jpg' %}" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="blog-details.html">
                                    <h5>غذا</h5>
                                </a>
                                <div class="border_line"></div>
                                <p>بگذارید غذا تمام شود</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Categorie Area =================-->

    <!--================Blog Area =================-->
    <section class="blog_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog_left_sidebar">
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a href="#">غذا،</a>
                                        <a class="active" href="#">فناوری،</a>
                                        <a href="#">سیاست،</a>
                                        <a href="#">سبک زندگی</a>
                                    </div>
                                    <ul class="blog_meta list">
                                        <li><a href="#"><i class="lnr lnr-user"></i>مارک وینز</a></li>
                                        <li><a href="#"><i class="lnr lnr-calendar-full"></i>12 بهمن 1403</a></li>
                                        <li><a href="#"><i class="lnr lnr-eye"></i>1.2M مشاهده</a></li>
                                        <li><a href="#"><i class="lnr lnr-bubble"></i>6 نظر</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="{% static 'img/blog/main-blog/m-blog-1.jpg' %}" alt="">
                                    <div class="blog_details">
                                        <a href="single-blog.html">
                                            <h2>دوربین دوچشمی نجوم یک جایگزین عالی</h2>
                                        </a>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می‌باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می‌طلبد</p>
                                        <a href="single-blog.html" class="white_bg_btn">مشاهده بیشتر</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a href="#">غذا،</a>
                                        <a class="active" href="#">فناوری،</a>
                                        <a href="#">سیاست،</a>
                                        <a href="#">سبک زندگی</a>
                                    </div>
                                    <ul class="blog_meta list">
                                        <li><a href="#"><i class="lnr lnr-user"></i>مارک وینز</a></li>
                                        <li><a href="#"><i class="lnr lnr-calendar-full"></i>12 بهمن 1403</a></li>
                                        <li><a href="#"><i class="lnr lnr-eye"></i>1.2M مشاهده</a></li>
                                        <li><a href="#"><i class="lnr lnr-bubble"></i>6 نظر</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="{% static 'img/blog/main-blog/m-blog-2.jpg' %}" alt="">
                                    <div class="blog_details">
                                        <a href="single-blog.html">
                                            <h2>اصول خرید تلسکوپ</h2>
                                        </a>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می‌باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می‌طلبد</p>
                                        <a href="single-blog.html" class="white_bg_btn">مشاهده بیشتر</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a href="#">غذا،</a>
                                        <a class="active" href="#">فناوری،</a>
                                        <a href="#">سیاست،</a>
                                        <a href="#">سبک زندگی</a>
                                    </div>
                                    <ul class="blog_meta list">
                                        <li><a href="#"><i class="lnr lnr-user"></i>مارک وینز</a></li>
                                        <li><a href="#"><i class="lnr lnr-calendar-full"></i>12 بهمن 1403</a></li>
                                        <li><a href="#"><i class="lnr lnr-eye"></i>1.2M مشاهده</a></li>
                                        <li><a href="#"><i class="lnr lnr-bubble"></i>6 نظر</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="{% static 'img/blog/main-blog/m-blog-3.jpg' %}" alt="">
                                    <div class="blog_details">
                                        <a href="single-blog.html">
                                            <h2>واژه نامه تلسکوپ ها</h2>
                                        </a>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می‌باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می‌طلبد</p>
                                        <a href="single-blog.html" class="white_bg_btn">مشاهده بیشتر</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a href="#">غذا،</a>
                                        <a class="active" href="#">فناوری،</a>
                                        <a href="#">سیاست،</a>
                                        <a href="#">سبک زندگی</a>
                                    </div>
                                    <ul class="blog_meta list">
                                        <li><a href="#"><i class="lnr lnr-user"></i>مارک وینز</a></li>
                                        <li><a href="#"><i class="lnr lnr-calendar-full"></i>12 بهمن 1403</a></li>
                                        <li><a href="#"><i class="lnr lnr-eye"></i>1.2M مشاهده</a></li>
                                        <li><a href="#"><i class="lnr lnr-bubble"></i>6 نظر</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="{% static 'img/blog/main-blog/m-blog-4.jpg' %}" alt="">
                                    <div class="blog_details">
                                        <a href="single-blog.html">
                                            <h2>آسمان شب</h2>
                                        </a>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می‌باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می‌طلبد</p>
                                        <a href="single-blog.html" class="white_bg_btn">مشاهده بیشتر</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a href="#">غذا،</a>
                                        <a class="active" href="#">فناوری،</a>
                                        <a href="#">سیاست،</a>
                                        <a href="#">سبک زندگی</a>
                                    </div>
                                    <ul class="blog_meta list">
                                        <li><a href="#"><i class="lnr lnr-user"></i>مارک وینز</a></li>
                                        <li><a href="#"><i class="lnr lnr-calendar-full"></i>12 بهمن 1403</a></li>
                                        <li><a href="#"><i class="lnr lnr-eye"></i>1.2M مشاهده</a></li>
                                        <li><a href="#"><i class="lnr lnr-bubble"></i>6 نظر</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="{% static 'img/blog/main-blog/m-blog-5.jpg' %}" alt="">
                                    <div class="blog_details">
                                        <a href="single-blog.html">
                                            <h2>تلسکوپ 101</h2>
                                        </a>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می‌باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می‌طلبد</p>
                                        <a href="single-blog.html" class="white_bg_btn">مشاهده بیشتر</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">
                                            <span class="lnr lnr-chevron-right"></span>
                                        </span>
                                    </a>
                                </li>
                                <li class="page-item"><a href="#" class="page-link">01</a></li>
                                <li class="page-item active"><a href="#" class="page-link">02</a></li>
                                <li class="page-item"><a href="#" class="page-link">03</a></li>
                                <li class="page-item"><a href="#" class="page-link">04</a></li>
                                <li class="page-item"><a href="#" class="page-link">09</a></li>
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Next">
                                        <span aria-hidden="true">
                                            <span class="lnr lnr-chevron-left"></span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="جستجوی پست"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'جستجوی پست'">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i
                                            class="lnr lnr-magnifier"></i></button>
                                </span>
                            </div><!-- /input-group -->
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget author_widget">
                            <img class="author_img rounded-circle" src="{% static 'img/blog/author.png' %}" alt="">
                            <h4>چارلی باربر</h4>
                            <p>نویسنده ارشد وبلاگ</p>
                            <div class="social_icon">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-github"></i></a>
                                <a href="#"><i class="fa fa-behance"></i></a>
                            </div>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می‌باشد.</p>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">پست های محبوب</h3>
                            <div class="media post_item">
                                <img src="{% static 'img/blog/popular-post/post1.jpg' %}" alt="post">
                                <div class="media-body">
                                    <a href="blog-details.html">
                                        <h3>فضا مرز نهایی</h3>
                                    </a>
                                    <p>2 ساعت پیش</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="{% static 'img/blog/popular-post/post2.jpg' %}" alt="post">
                                <div class="media-body">
                                    <a href="blog-details.html">
                                        <h3>هابل شگفت انگیز</h3>
                                    </a>
                                    <p>2 ساعت پیش</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="{% static 'img/blog/popular-post/post3.jpg' %}" alt="post">
                                <div class="media-body">
                                    <a href="blog-details.html">
                                        <h3>نجوم یا طالع بینی</h3>
                                    </a>
                                    <p>3 ساعت پیش</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="{% static 'img/blog/popular-post/post4.jpg' %}" alt="post">
                                <div class="media-body">
                                    <a href="blog-details.html">
                                        <h3>تلسکوپ سیارک ها</h3>
                                    </a>
                                    <p>1 ساعت پیش</p>
                                </div>
                            </div>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget ads_widget">
                            <a href="#"><img class="img-fluid" src="{% static 'img/blog/add.jpg' %}" alt=""></a>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">دسته بندی</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>فناوری</p>
                                        <p>37</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>سبک زندگی</p>
                                        <p>24</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>مد</p>
                                        <p>59</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>هنر</p>
                                        <p>29</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>غذا</p>
                                        <p>15</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>معماری</p>
                                        <p>09</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>ماجراجویی</p>
                                        <p>44</p>
                                    </a>
                                </li>
                            </ul>
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget newsletter_widget">
                            <h4 class="widget_title">خبرنامه</h4>
                            <p>
                                در اینجا، من روی طیف وسیعی از موارد و ویژگی‌هایی تمرکز می‌کنم که در زندگی از آن‌ها استفاده می‌کنیم، بدون اینکه فکر دیگری به آنها بکنم.
                            </p>
                            <div class="form-group d-flex flex-row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup"
                                        placeholder="ایمیل شما" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'ایمیل شما'">
                                </div>
                                <a href="#" class="bbtns">عضویت</a>
                            </div>
                            <p class="text-bottom">می توانید در هر زمانی اشتراک خود را لغو کنید</p>
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget tag_cloud_widget">
                            <h4 class="widget_title">تگ ها</h4>
                            <ul class="list">
                                <li><a href="#">فناوری</a></li>
                                <li><a href="#">مد</a></li>
                                <li><a href="#">معماری</a></li>
                                <li><a href="#">مد</a></li>
                                <li><a href="#">غذا</a></li>
                                <li><a href="#">فناوری</a></li>
                                <li><a href="#">سبک زندگی</a></li>
                                <li><a href="#">هنر</a></li>
                                <li><a href="#">ماجراجویی</a></li>
                                <li><a href="#">غذا</a></li>
                                <li><a href="#">سبک زندگی</a></li>
                                <li><a href="#">ماجراجویی</a></li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->

{% endblock %}