{% load static %}
<!-- start footer Area -->
	<footer class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>درباره ما</h6>
						<p>
                            {{ site_info.about_us_text}}
						</p>
					</div>
				</div>
				<div class="col-lg-4  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>خبرنامه</h6>
						<p>با جدیدترین ما به روز باشید</p>
						<div class="" id="mc_embed_signup">

							<form target="_blank" novalidate="true" action="" method="get" class="form-inline">

								<div class="d-flex flex-row">

									<input class="form-control" name="EMAIL" placeholder="ایمیل شما"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'ایمیل شما '"
										required="" type="email">


									<button class="click-btn btn btn-default"><i class="fa fa-long-arrow-left"
											aria-hidden="true"></i></button>
									<div style="position: absolute; left: -5000px;">
										<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""
											type="text">
									</div>

									<!-- <div class="col-lg-4 col-md-4">
											<button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
										</div>  -->
								</div>
								<div class="info"></div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget mail-chimp">
						<h6 class="mb-20">کارما تیم</h6>
						<ul class="instafeed d-flex flex-wrap">
							<li><img src="{% static 'img/i1.jpg' %}" alt=""></li>
							<li><img src="{% static 'img/i2.jpg' %}" alt=""></li>
							<li><img src="{% static 'img/i3.jpg' %}" alt=""></li>
							<li><img src="{% static 'img/i4.jpg' %}" alt=""></li>
							<li><img src="{% static 'img/i5.jpg' %}" alt=""></li>
							<li><img src="{% static 'img/i6.jpg' %}" alt=""></li>
							<li><img src="{% static 'img/i7.jpg' %}" alt=""></li>
							<li><img src="{% static 'img/i8.jpg' %}" alt=""></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>دنبال کردن</h6>
						<p>شبکه های اجتماعی</p>
						<div class="footer-social d-flex align-items-center">
							<a href="{{site_info.telegram_url}}"><i class="fa fa-telegram"></i></a>
							<a href="{{site_info.github_url}}"><i class="fa fa-github"></i></a>
							<a href="{{site_info.instagram_url}}"><i class="fa fa-instagram"></i></a>

						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
				<p class="footer-text m-0">
					{{ site_info.copy_right }}
				</p>
			</div>
		</div>
	</footer>
<!-- End footer Area -->