{% load static %}
<!-- start footer Area -->
	<footer class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>درباره ما</h6>
						<p>
                            {{ site_info.about_us_text}}
						</p>
					</div>
				</div>
				<div class="col-lg-4  col-md-6 col-sm-6">
                    <h6>خبرنامه سایت</h6>
					 {% include 'includes/newletterssubscribers/newletterssubscribers.html' %}
				</div>
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget mail-chimp">
						<h6 class="mb-20">{{ footer_gallery.title }}</h6>
						<ul class="instafeed d-flex flex-wrap">
							{% for gallery in footer_gallery.images.all %}

                                <li><img src="{{ gallery.image.url }}" alt="{{ footer_gallery.title }}"></li>

							{% endfor %}


						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>دنبال کردن</h6>
						<p>شبکه های اجتماعی</p>
						<div class="footer-social d-flex align-items-center">
							<a href="{{site_info.telegram_url}}"><i class="fa fa-telegram"></i></a>
							<a href="{{site_info.github_url}}"><i class="fa fa-github"></i></a>
							<a href="{{site_info.instagram_url}}"><i class="fa fa-instagram"></i></a>

						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
				<p class="footer-text m-0">
					{{ site_info.copy_right }}
				</p>
			</div>
		</div>
	</footer>
<!-- End footer Area -->