{% load static %}

<!-- Start Header Area -->
<header class="header_area sticky-header">
	<div class="main_menu">
		<nav class="navbar navbar-expand-lg navbar-light main_box">
			<div class="container">

				<a class="navbar-brand logo_h" href="{% url 'home' %}">
					<img src="{% static 'img/logo.png' %}" alt="">
				</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent"
					aria-expanded="false"
					aria-label="Toggle navigation">

					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>

				</button>


				<div class="collapse navbar-collapse offset" id="navbarSupportedContent">


					<ul class="nav navbar-nav menu_nav ml-auto">


						<li class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
							<a class="nav-link" href="{% url 'home' %}">
								خانه
							</a>
						</li>


						<li class="nav-item submenu dropdown
						{% if request.resolver_match.url_name == 'product_list' or request.resolver_match.url_name == 'product_single' %}active{% endif %}">

							<a href="{% url 'product_list' %}"
							class="nav-link dropdown-toggle"
							role="button">

								فروشگاه

							</a>


							<ul class="dropdown-menu">

								<li class="nav-item">
									<a class="nav-link" href="{% url 'product_list' %}">
										دسته بندی فروشگاه
									</a>
								</li>


								<li class="nav-item">
									<a class="nav-link" href="#">
										بررسی محصول
									</a>
								</li>


							</ul>

						</li>



						<li class="nav-item {% if request.resolver_match.url_name == 'article_list' or request.resolver_match.url_name == 'article_single' %}active{% endif %}">

							<a class="nav-link" href="{% url 'article_list' %}">
								مقالات
							</a>

						</li>



						<li class="nav-item {% if request.resolver_match.url_name == 'contact_us' %}active{% endif %}">

							<a class="nav-link" href="{% url 'contact_us' %}">
								تماس
							</a>

						</li>



						<li class="nav-item {% if request.resolver_match.url_name == 'login' %}active{% endif %}">

							<a class="nav-link" href="{% url 'login' %}">
								ورود
							</a>

						</li>


					</ul>



					<ul class="nav navbar-nav navbar-right">


						<li class="nav-item">
							<a href="#" class="cart">
								<span class="ti-bag"></span>
							</a>
						</li>


						<li class="nav-item">

							<button class="search">
								<span class="lnr lnr-magnifier" id="search"></span>
							</button>

						</li>


					</ul>


				</div>

			</div>
		</nav>
	</div>



	<div class="search_input" id="search_input_box">

		<div class="container">

			<form class="d-flex justify-content-between">

				<input type="text"
				class="form-control"
				id="search_input"
				placeholder="عنوان جستجو...">


				<button type="submit" class="btn"></button>


				<span class="lnr lnr-cross"
				id="close_search"
				title="Close Search"></span>


			</form>

		</div>

	</div>


</header>

<!-- End Header Area -->