{% load static %}

<header class="karma-header">

    <!-- ================= TOP BAR ================= -->

    <div class="karma-topbar">

        <div class="container">

            <div class="karma-topbar-wrapper">

                <div class="karma-topbar-right">

                    {% if user.is_authenticated %}

                        <div class="karma-user-menu">

                            <a href="#" class="karma-user-toggle">

                                <i class="fa fa-user"></i>

                                {{ user.username }}

                                <i class="fa fa-angle-down"></i>

                            </a>

                            <ul class="karma-user-dropdown">

                                <li>
                                    <a href="#">
                                        <i class="fa fa-user-circle"></i>
                                        پنل کاربری
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="fa fa-shopping-bag"></i>
                                        سفارش های من
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="fa fa-heart"></i>
                                        علاقه مندی ها
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="fa fa-map-marker"></i>
                                        آدرس ها
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="fa fa-edit"></i>
                                        ویرایش پروفایل
                                    </a>
                                </li>

                                <li class="karma-user-divider"></li>

                                <li>

                                    <a href="{% url 'logout' %}">

                                        <i class="fa fa-sign-out"></i>

                                        خروج

                                    </a>

                                </li>

                            </ul>

                        </div>

                    {% else %}

                        <div class="karma-auth-links">

                            <a href="{% url 'login' %}">

                                <i class="fa fa-sign-in"></i>

                                ورود

                            </a>

                            <span>/</span>

                            <a href="{% url 'register' %}">

                                ثبت نام

                            </a>

                        </div>

                    {% endif %}

                </div>

            </div>

        </div>

    </div>

    <!-- ================= NAVBAR ================= -->

    <div class="main_menu">

        <nav class="navbar navbar-expand-lg navbar-light main_box">

            <div class="container">

                <a class="navbar-brand logo_h" href="{% url 'home' %}">

                    <img src="{{ site_info.site_logo.url }}" alt="">

                </a>

                <button class="navbar-toggler"

                        type="button"

                        data-toggle="collapse"

                        data-target="#karmaNavbar"

                        aria-controls="karmaNavbar"

                        aria-expanded="false">

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                </button>

                <div class="collapse navbar-collapse"

                     id="karmaNavbar">

                    <ul class="navbar-nav karma-nav">

                        <li class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">

                            <a class="nav-link"

                               href="{% url 'home' %}">

                                خانه

                            </a>

                        </li>

                        <li class="nav-item dropdown {% if request.resolver_match.url_name == 'product_list' or request.resolver_match.url_name == 'product_single' %}active{% endif %}">

                            <a class="nav-link"
                               href="{% url 'product_list' %}">

                                فروشگاه

                            </a>

                        </li>

                        <li class="nav-item {% if request.resolver_match.url_name == 'article_list' or request.resolver_match.url_name == 'article_single' %}active{% endif %}">

                            <a class="nav-link"
                               href="{% url 'article_list' %}">

                                مقالات

                            </a>

                        </li>

                        <li class="nav-item {% if request.resolver_match.url_name == 'contact_us' %}active{% endif %}">

                            <a class="nav-link"

                               href="{% url 'contact_us' %}">

                                تماس با ما

                            </a>

                        </li>

                    </ul>

                    <div class="karma-nav-icons">

                        <a href="#" class="karma-search">

                            <span class="lnr lnr-magnifier"></span>

                        </a>

                        <a href="#" class="karma-cart">

                            <span class="ti-bag"></span>

                        </a>

                    </div>

                </div>

            </div>

        </nav>

    </div>

</header>