{% load static %}

{% if weekly_deals %}
<section class="related-product-area section_gap_bottom mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h1>حراجی این هفته</h1>
                    <p>محصولات با بیشترین تخفیف را مشاهده کنید.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    {% for product in weekly_deals %}
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="{{ product.get_absolute_url }}">
                                {% if product.main_image %}
                                    <img src="{{ product.main_image.image.url }}"
                                         alt="{{ product.title }}"
                                         style="width:70px;height:70px;object-fit:cover;">
                                {% endif %}
                            </a>

                            <div class="desc">
                                <a href="{{ product.get_absolute_url }}" class="title">
                                    {{ product.title }}
                                </a>

                                <div class="price">
                                    <h6>{{ product.final_price|floatformat:0 }} تومان</h6>

                                    <h6 class="l-through">
                                        {{ product.price|floatformat:0 }} تومان
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-lg-3">
                <div class="ctg-right">
                    <a href="#" target="_blank">
                        <img class="img-fluid d-block mx-auto"
                             src="{% static 'img/category/c5.jpg' %}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}