{% extends 'main/_layout.html' %}
{% load static %}
{% load poll_extras %}
{% load render_partial %}
{% block title %}
    صفحه محصولات
{% endblock %}
{% block content %}

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>دسته بندی فروشگاه</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{% url 'home' %}">خانه<span class="lnr lnr-arrow-left"></span></a>
                        <a href="#">فروشگاه<span class="lnr lnr-arrow-left"></span></a>
                        <a href="{% url 'product_list' %}">دسته بندی مد</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div class="col-xl-3 col-lg-4 col-md-5">

                <div class="sidebar-categories">
                    <div class="head">دسته بندی ها را مرور کنید</div>

                    <ul class="main-categories">
                        {% for category in categories %}
                            <li class="main-nav-list">

                                {% if category.has_children %}

                                    <a data-toggle="collapse"
                                       href="#category{{ category.id }}"
                                       aria-expanded="false"
                                       aria-controls="category{{ category.id }}">

                                        <span class="lnr lnr-arrow-right"></span>
                                        {{ category.title }}
                                        <span class="number">({{ category.product_count }})</span>
                                    </a>

                                    <ul class="collapse" id="category{{ category.id }}">

                                        {% for child in category.children.all %}
                                            {% if child.is_active %}
                                                <li class="main-nav-list child">
                                                    <a href="{% url 'product_list' %}?category={{ child.slug }}">
                                                        {{ child.title }}
                                                        <span class="number">({{ child.product_count }})</span>
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}

                                    </ul>

                                {% else %}

                                    <a href="{% url 'product_list' %}?category={{ category.slug }}">
                                        {{ category.title }}
                                        <span class="number">({{ category.product_count }})</span>
                                    </a>

                                {% endif %}

                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="sidebar-filter mt-50">
                    <div class="top-filter-head">فیلتر محصولات</div>
                    <div class="common-filter">
                        <div class="head">برندها</div>
                        <ul>
                            {% for brand in brands %}
                                <li class="filter-list">
                                    <input class="pixel-radio"
                                           type="radio"
                                           id="brand{{ brand.id }}"
                                           name="brand"
                                           value="{{ brand.slug }}"
                                           {% if request.GET.brand == brand.slug %}checked{% endif %}
                                           onchange="window.location.href='{% query_replace brand=brand.slug %}'">
                                    <label for="brand{{ brand.id }}">
                                        {{ brand.title }}
                                        <span>({{ brand.products.count }})</span>
                                    </label>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>


                    <div class="common-filter"  id="price-filter">
                        <div class="head">قیمت</div>

                        <div class="price-range-area">
                            <div id="price-range"></div>

                            <div class="value-wrapper d-flex">
                                <div class="price">قیمت:</div>
                                <span>تومان</span>
                                <div id="lower-value"></div>
                                <div class="to">تا</div>
                                <span>تومان</span>
                                <div id="upper-value"></div>
                            </div>
                        </div>
                    </div>
                </div>


                        {% if site_banner %}
                            <aside class="single_sidebar_widget ads_widget">
                                <a href="{{ site_banner.url|default:'#' }}">
                                    <img class="img-fluid"
                                         src="{{ site_banner.image.url }}"
                                         alt="{{ site_banner.title }}"
                                         style="width:300px;height:400px;object-fit:cover;">
                                </a>
                                <div class="br"></div>
                            </aside>
                        {% endif %}

            </div>
            <!-- End Sidebar -->

            <!-- Products -->
            <div class="col-xl-9 col-lg-8 col-md-7">

                <!-- Filter Bar -->
                <div class="filter-bar d-flex flex-wrap align-items-center">

                    <div class="sorting">
                        <select onchange="changeSort(this.value)">
                            <option value="1"
                                    {% if request.GET.sort == '1' or not request.GET.sort %}selected{% endif %}>
                                مرتب سازی پیش فرض
                            </option>
                            <option value="2" {% if request.GET.sort == '2' %}selected{% endif %}>
                                جدیدترین
                            </option>
                            <option value="3" {% if request.GET.sort == '3' %}selected{% endif %}>
                                ارزان ترین
                            </option>
                        </select>
                    </div>

                    <script>
                        function changeSort(value) {
                            const url = new URL(window.location.href);
                            url.searchParams.set('sort', value);
                            url.searchParams.delete('page');
                            window.location.href = url.toString();
                        }
                    </script>
                    <div class="sorting mr-auto">
                        <select onchange="changePerPage(this.value)">
                            <option value="6" {% if request.GET.per_page == '6' %}selected{% endif %}>نمایش 6تایی
                            </option>
                            <option value="9"
                                    {% if request.GET.per_page == '9' or not request.GET.per_page %}selected{% endif %}>
                                نمایش 9تایی
                            </option>
                            <option value="12" {% if request.GET.per_page == '12' %}selected{% endif %}>نمایش 12تایی
                            </option>
                        </select>
                    </div>

                    <script>
                        function changePerPage(value) {
                            const url = new URL(window.location.href);
                            url.searchParams.set('per_page', value);
                            url.searchParams.delete('page');
                            window.location.href = url.toString();
                        }
                    </script>
                    {% if is_paginated %}
                        <div class="pagination">

                            {% if page_obj.has_previous %}
                                <a href="?{{ query_params }}&page={{ page_obj.previous_page_number }}"
                                   class="prev-arrow">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                </a>
                            {% endif %}


                            {% for num in page_obj.paginator.page_range %}

                                {% if page_obj.number == num %}
                                    <a href="?{{ query_params }}&page={{ num }}"
                                       class="active">
                                        {{ num }}
                                    </a>
                                {% else %}
                                    <a href="?{{ query_params }}&page={{ num }}">
                                        {{ num }}
                                    </a>
                                {% endif %}

                            {% endfor %}


                            {% if page_obj.has_next %}
                                <a href="?{{ query_params }}&page={{ page_obj.next_page_number }}"
                                   class="next-arrow">
                                    <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                                </a>
                            {% endif %}

                        </div>
                    {% endif %}
                </div>
                <!-- End Filter Bar -->

                <!-- Products -->
                <section class="lattest-product-area pb-40 category-list">

                    <div class="row">

                        {% for product in products %}

                            {% include 'product/includes/each_product/each_product.html' %}

                        {% empty %}

                            <div class="col-12">
                                <p class="text-center">
                                    محصولی برای نمایش وجود ندارد.
                                </p>
                            </div>

                        {% endfor %}

                    </div>

                </section>
                <!-- End Products -->

                <!-- Bottom Filter Bar -->
                <div class="filter-bar d-flex flex-wrap align-items-center">

                    {% if is_paginated %}
                        <div class="pagination">

                            {% if page_obj.has_previous %}
                                <a href="?{{ query_params }}&page={{ page_obj.previous_page_number }}"
                                   class="prev-arrow">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                </a>
                            {% endif %}


                            {% for num in page_obj.paginator.page_range %}

                                {% if page_obj.number == num %}
                                    <a href="?{{ query_params }}&page={{ num }}"
                                       class="active">
                                        {{ num }}
                                    </a>
                                {% else %}
                                    <a href="?{{ query_params }}&page={{ num }}">
                                        {{ num }}
                                    </a>
                                {% endif %}

                            {% endfor %}


                            {% if page_obj.has_next %}
                                <a href="?{{ query_params }}&page={{ page_obj.next_page_number }}"
                                   class="next-arrow">
                                    <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                                </a>
                            {% endif %}

                        </div>
                    {% endif %}
                </div>
                <!-- End Bottom Filter Bar -->

            </div>
            <!-- End Products -->

        </div>
    </div>
    </div>



    {% include 'product/includes/weekly_deals/weekly_deals.html' %}

<script>
    const priceRangeMin={{ price_range.min_price|default:0 }};
    const priceRangeMax={{ price_range.max_price|default:0 }};
    const selectedPriceMin={{ request.GET.min_price|default:0 }};
    const selectedPriceMax={{ request.GET.max_price|default:0 }};
</script>

{% endblock %}
