{% extends 'main/_layout.html' %}
{% load static %}
{% block title %}
	صفحه محصولات
{% endblock %}
{% block content %}

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>دسته بندی فروشگاه</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">خانه<span class="lnr lnr-arrow-left"></span></a>
						<a href="#">فروشگاه<span class="lnr lnr-arrow-left"></span></a>
						<a href="category.html">دسته بندی مد</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-md-5">
				<div class="sidebar-categories">
					<div class="head">دسته بندی ها را مرور کنید</div>
					<ul class="main-categories">
						<li class="main-nav-list"><a data-toggle="collapse" href="#fruitsVegetable"
								aria-expanded="false" aria-controls="fruitsVegetable"><span
									class="lnr lnr-arrow-right"></span>میوه ها و سبزیجات<span
									class="number">(53)</span></a>
							<ul class="collapse" id="fruitsVegetable" data-toggle="collapse" aria-expanded="false"
								aria-controls="fruitsVegetable">
								<li class="main-nav-list child"><a href="#">ماهی منجمد<span
											class="number">(13)</span></a></li>
								<li class="main-nav-list child"><a href="#">ماهی خشک شده<span
											class="number">(09)</span></a></li>
								<li class="main-nav-list child"><a href="#">ماهی تازه<span
											class="number">(17)</span></a></li>
								<li class="main-nav-list child"><a href="#">جایگزین های گوشت<span
											class="number">(01)</span></a></li>
								<li class="main-nav-list child"><a href="#">گوشت<span class="number">(11)</span></a>
								</li>
							</ul>
						</li>

						<li class="main-nav-list"><a data-toggle="collapse" href="#meatFish" aria-expanded="false"
								aria-controls="meatFish"><span class="lnr lnr-arrow-right"></span>گوشت و ماهی<span
									class="number">(53)</span></a>
							<ul class="collapse" id="meatFish" data-toggle="collapse" aria-expanded="false"
								aria-controls="meatFish">
								<li class="main-nav-list child"><a href="#">ماهی منجمد<span
											class="number">(13)</span></a></li>
								<li class="main-nav-list child"><a href="#">ماهی خشک شده<span
											class="number">(09)</span></a></li>
								<li class="main-nav-list child"><a href="#">ماهی تازه<span
											class="number">(17)</span></a></li>
								<li class="main-nav-list child"><a href="#">جایگزین های گوشت<span
											class="number">(01)</span></a></li>
								<li class="main-nav-list child"><a href="#">گوشت<span class="number">(11)</span></a>
								</li>
							</ul>
						</li>
						<li class="main-nav-list"><a data-toggle="collapse" href="#cooking" aria-expanded="false"
								aria-controls="cooking"><span class="lnr lnr-arrow-right"></span>آشپزی<span
									class="number">(53)</span></a>
							<ul class="collapse" id="cooking" data-toggle="collapse" aria-expanded="false"
								aria-controls="cooking">
								<li class="main-nav-list child"><a href="#">ماهی منجمد<span
											class="number">(13)</span></a></li>
								<li class="main-nav-list child"><a href="#">ماهی خشک شده<span
											class="number">(09)</span></a></li>
								<li class="main-nav-list child"><a href="#">ماهی تازه<span
											class="number">(17)</span></a></li>
								<li class="main-nav-list child"><a href="#">جایگزین های گوشت<span
											class="number">(01)</span></a></li>
								<li class="main-nav-list child"><a href="#">گوشت<span class="number">(11)</span></a>
								</li>
							</ul>
						</li>
						<li class="main-nav-list"><a data-toggle="collapse" href="#beverages" aria-expanded="false"
								aria-controls="beverages"><span class="lnr lnr-arrow-right"></span>نوشیدنی ها<span
									class="number">(24)</span></a>
							<ul class="collapse" id="beverages" data-toggle="collapse" aria-expanded="false"
								aria-controls="beverages">
								<li class="main-nav-list child"><a href="#">ماهی منجمد<span
											class="number">(13)</span></a></li>
								<li class="main-nav-list child"><a href="#">ماهی خشک شده<span
											class="number">(09)</span></a></li>
								<li class="main-nav-list child"><a href="#">ماهی تازه<span
											class="number">(17)</span></a></li>
								<li class="main-nav-list child"><a href="#">جایگزین های گوشت<span
											class="number">(01)</span></a></li>
								<li class="main-nav-list child"><a href="#">گوشت<span class="number">(11)</span></a>
								</li>
							</ul>
						</li>
						<li class="main-nav-list"><a data-toggle="collapse" href="#homeClean" aria-expanded="false"
								aria-controls="homeClean"><span class="lnr lnr-arrow-right"></span>خانه و نظافت<span
									class="number">(53)</span></a>
							<ul class="collapse" id="homeClean" data-toggle="collapse" aria-expanded="false"
								aria-controls="homeClean">
								<li class="main-nav-list child"><a href="#">ماهی منجمد<span
											class="number">(13)</span></a></li>
								<li class="main-nav-list child"><a href="#">ماهی خشک شده<span
											class="number">(09)</span></a></li>
								<li class="main-nav-list child"><a href="#">ماهی تازه<span
											class="number">(17)</span></a></li>
								<li class="main-nav-list child"><a href="#">جایگزین های گوشت<span
											class="number">(01)</span></a></li>
								<li class="main-nav-list child"><a href="#">گوشت<span class="number">(11)</span></a>
								</li>
							</ul>
						</li>
						<li class="main-nav-list"><a href="#">کنترل آفات<span class="number">(24)</span></a></li>
						<li class="main-nav-list"><a data-toggle="collapse" href="#officeProduct" aria-expanded="false"
								aria-controls="officeProduct"><span class="lnr lnr-arrow-right"></span>محصولات
								اداری<span class="number">(77)</span></a>
							<ul class="collapse" id="officeProduct" data-toggle="collapse" aria-expanded="false"
								aria-controls="officeProduct">
								<li class="main-nav-list child"><a href="#">ماهی منجمد<span
											class="number">(13)</span></a></li>
								<li class="main-nav-list child"><a href="#">ماهی خشک شده<span
											class="number">(09)</span></a></li>
								<li class="main-nav-list child"><a href="#">ماهی تازه<span
											class="number">(17)</span></a></li>
								<li class="main-nav-list child"><a href="#">جایگزین های گوشت<span
											class="number">(01)</span></a></li>
								<li class="main-nav-list child"><a href="#">گوشت<span class="number">(11)</span></a>
								</li>
							</ul>
						</li>
						<li class="main-nav-list"><a data-toggle="collapse" href="#beauttyProduct" aria-expanded="false"
								aria-controls="beauttyProduct"><span class="lnr lnr-arrow-right"></span>محصولات
								زیبایی<span class="number">(65)</span></a>
							<ul class="collapse" id="beauttyProduct" data-toggle="collapse" aria-expanded="false"
								aria-controls="beauttyProduct">
								<li class="main-nav-list child"><a href="#">ماهی منجمد<span
											class="number">(13)</span></a></li>
								<li class="main-nav-list child"><a href="#">ماهی خشک شده<span
											class="number">(09)</span></a></li>
								<li class="main-nav-list child"><a href="#">ماهی تازه<span
											class="number">(17)</span></a></li>
								<li class="main-nav-list child"><a href="#">جایگزین های گوشت<span
											class="number">(01)</span></a></li>
								<li class="main-nav-list child"><a href="#">گوشت<span class="number">(11)</span></a>
								</li>
							</ul>
						</li>
						<li class="main-nav-list"><a data-toggle="collapse" href="#healthProduct" aria-expanded="false"
								aria-controls="healthProduct"><span class="lnr lnr-arrow-right"></span>محصولات
								سلامتی<span class="number">(29)</span></a>
							<ul class="collapse" id="healthProduct" data-toggle="collapse" aria-expanded="false"
								aria-controls="healthProduct">
								<li class="main-nav-list child"><a href="#">ماهی منجمد<span
											class="number">(13)</span></a></li>
								<li class="main-nav-list child"><a href="#">ماهی خشک شده<span
											class="number">(09)</span></a></li>
								<li class="main-nav-list child"><a href="#">ماهی تازه<span
											class="number">(17)</span></a></li>
								<li class="main-nav-list child"><a href="#">جایگزین های گوشت<span
											class="number">(01)</span></a></li>
								<li class="main-nav-list child"><a href="#">گوشت<span class="number">(11)</span></a>
								</li>
							</ul>
						</li>
						<li class="main-nav-list"><a href="#">مراقبت از حیوانات خانگی<span
									class="number">(29)</span></a></li>
						<li class="main-nav-list"><a data-toggle="collapse" href="#homeAppliance" aria-expanded="false"
								aria-controls="homeAppliance"><span class="lnr lnr-arrow-right"></span>لوازم خانگی<span
									class="number">(15)</span></a>
							<ul class="collapse" id="homeAppliance" data-toggle="collapse" aria-expanded="false"
								aria-controls="homeAppliance">
								<li class="main-nav-list child"><a href="#">ماهی منجمد<span
											class="number">(13)</span></a></li>
								<li class="main-nav-list child"><a href="#">ماهی خشک شده<span
											class="number">(09)</span></a></li>
								<li class="main-nav-list child"><a href="#">ماهی تازه<span
											class="number">(17)</span></a></li>
								<li class="main-nav-list child"><a href="#">جایگزین های گوشت<span
											class="number">(01)</span></a></li>
								<li class="main-nav-list child"><a href="#">گوشت<span class="number">(11)</span></a>
								</li>
							</ul>
						</li>
						<li class="main-nav-list"><a class="border-bottom-0" data-toggle="collapse" href="#babyCare"
								aria-expanded="false" aria-controls="babyCare"><span
									class="lnr lnr-arrow-right"></span>مراقبت از نوزاد<span
									class="number">(48)</span></a>
							<ul class="collapse" id="babyCare" data-toggle="collapse" aria-expanded="false"
								aria-controls="babyCare">
								<li class="main-nav-list child"><a href="#">ماهی منجمد<span
											class="number">(13)</span></a></li>
								<li class="main-nav-list child"><a href="#">ماهی خشک شده<span
											class="number">(09)</span></a></li>
								<li class="main-nav-list child"><a href="#">ماهی تازه<span
											class="number">(17)</span></a></li>
								<li class="main-nav-list child"><a href="#">جایگزین های گوشت<span
											class="number">(01)</span></a></li>
								<li class="main-nav-list child"><a href="#" class="border-bottom-0">گوشت<span
											class="number">(11)</span></a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="sidebar-filter mt-50">
					<div class="top-filter-head">فیلتر محصولات</div>
					<div class="common-filter">
						<div class="head">برندها</div>
						<form action="#">
							<ul>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="apple"
										name="brand"><label for="apple">اپل<span>(29)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="asus"
										name="brand"><label for="asus">ایسوس<span>(29)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="gionee"
										name="brand"><label for="gionee">جیونی<span>(19)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="micromax"
										name="brand"><label for="micromax">میکرومکس<span>(19)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="samsung"
										name="brand"><label for="samsung">سامسونگ<span>(19)</span></label></li>
							</ul>
						</form>
					</div>
					<div class="common-filter">
						<div class="head">رنگ</div>
						<form action="#">
							<ul>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="black"
										name="color"><label for="black">مشکی<span>(29)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="balckleather"
										name="color"><label for="balckleather">چرم مشکی<span>(29)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="blackred"
										name="color"><label for="blackred">مشکی با قرمز<span>(19)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="gold"
										name="color"><label for="gold">طلایی<span>(19)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="spacegrey"
										name="color"><label for="spacegrey">نقره ای<span>(19)</span></label></li>
							</ul>
						</form>
					</div>
					<div class="common-filter">
						<div class="head">قیمت</div>
						<div class="price-range-area">
							<div id="price-range"></div>
							<div class="value-wrapper d-flex">
								<div class="price">قیمت:</div>
								<span>تومان</span>
								<div id="lower-value"></div>
								<div class="to">تا</div>
								<span>تومان</span>
								<div id="upper-value"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-9 col-lg-8 col-md-7">
				<!-- Start Filter Bar -->
				<div class="filter-bar d-flex flex-wrap align-items-center">
					<div class="sorting">
						<select>
							<option value="1">مرتب سازی پیش فرض</option>
							<option value="1">مرتب سازی پیش فرض</option>
							<option value="1">مرتب سازی پیش فرض</option>
						</select>
					</div>
					<div class="sorting mr-auto">
						<select>
							<option value="1">نمایش 12</option>
							<option value="1">نمایش 12</option>
							<option value="1">نمایش 12</option>
						</select>
					</div>
					<div class="pagination">
						<a href="#" class="prev-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						<a href="#" class="active">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
						<a href="#">6</a>
						<a href="#" class="next-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
					</div>
				</div>
				<!-- End Filter Bar -->
				<!-- Start Best Seller -->
				<section class="lattest-product-area pb-40 category-list">
					<div class="row">
						<!-- single product -->
						<div class="col-lg-4 col-md-6">
							<div class="single-product">
								<img class="img-fluid" src="{% static 'img/product/p1.jpg' %}" alt="">
								<div class="product-details">
									<h6>زیره چکش جدید آدیداس برای افراد ورزشی</h6>
									<div class="price">
										<h6>150,000 تومان</h6>
										<h6 class="l-through">210,000 تومان</h6>
									</div>
									<div class="prd-bottom">

										<a href="" class="social-info">
											<span class="ti-bag"></span>
											<p class="hover-text">افزودن به سبد</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-heart"></span>
											<p class="hover-text">لیست آرزوها</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-sync"></span>
											<p class="hover-text">مقایسه</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-move"></span>
											<p class="hover-text">مشاهده بیشتر</p>
										</a>
									</div>
								</div>
							</div>
						</div>
						<!-- single product -->
						<div class="col-lg-4 col-md-6">
							<div class="single-product">
								<img class="img-fluid" src="{% static 'img/product/p2.jpg' %}" alt="">
								<div class="product-details">
									<h6>زیره چکش جدید آدیداس برای افراد ورزشی</h6>
									<div class="price">
										<h6>150,000 تومان</h6>
										<h6 class="l-through">210,000 تومان</h6>
									</div>
									<div class="prd-bottom">

										<a href="" class="social-info">
											<span class="ti-bag"></span>
											<p class="hover-text">افزودن به سبد</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-heart"></span>
											<p class="hover-text">لیست آرزوها</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-sync"></span>
											<p class="hover-text">مقایسه</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-move"></span>
											<p class="hover-text">مشاهده بیشتر</p>
										</a>
									</div>
								</div>
							</div>
						</div>
						<!-- single product -->
						<div class="col-lg-4 col-md-6">
							<div class="single-product">
								<img class="img-fluid" src="{% static 'img/product/p3.jpg' %}" alt="">
								<div class="product-details">
									<h6>زیره چکش جدید آدیداس برای افراد ورزشی</h6>
									<div class="price">
										<h6>150,000 تومان</h6>
										<h6 class="l-through">210,000 تومان</h6>
									</div>
									<div class="prd-bottom">

										<a href="" class="social-info">
											<span class="ti-bag"></span>
											<p class="hover-text">افزودن به سبد</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-heart"></span>
											<p class="hover-text">لیست آرزوها</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-sync"></span>
											<p class="hover-text">مقایسه</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-move"></span>
											<p class="hover-text">مشاهده بیشتر</p>
										</a>
									</div>
								</div>
							</div>
						</div>
						<!-- single product -->
						<div class="col-lg-4 col-md-6">
							<div class="single-product">
								<img class="img-fluid" src="{% static 'img/product/p4.jpg' %}" alt="">
								<div class="product-details">
									<h6>زیره چکش جدید آدیداس برای افراد ورزشی</h6>
									<div class="price">
										<h6>150,000 تومان</h6>
										<h6 class="l-through">210,000 تومان</h6>
									</div>
									<div class="prd-bottom">

										<a href="" class="social-info">
											<span class="ti-bag"></span>
											<p class="hover-text">افزودن به سبد</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-heart"></span>
											<p class="hover-text">لیست آرزوها</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-sync"></span>
											<p class="hover-text">مقایسه</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-move"></span>
											<p class="hover-text">مشاهده بیشتر</p>
										</a>
									</div>
								</div>
							</div>
						</div>
						<!-- single product -->
						<div class="col-lg-4 col-md-6">
							<div class="single-product">
								<img class="img-fluid" src="{% static 'img/product/p5.jpg' %}" alt="">
								<div class="product-details">
									<h6>زیره چکش جدید آدیداس برای افراد ورزشی</h6>
									<div class="price">
										<h6>150,000 تومان</h6>
										<h6 class="l-through">210,000 تومان</h6>
									</div>
									<div class="prd-bottom">

										<a href="" class="social-info">
											<span class="ti-bag"></span>
											<p class="hover-text">افزودن به سبد</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-heart"></span>
											<p class="hover-text">لیست آرزوها</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-sync"></span>
											<p class="hover-text">مقایسه</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-move"></span>
											<p class="hover-text">مشاهده بیشتر</p>
										</a>
									</div>
								</div>
							</div>
						</div>
						<!-- single product -->
						<div class="col-lg-4 col-md-6">
							<div class="single-product">
								<img class="img-fluid" src="{% static 'img/product/p6.jpg' %}" alt="">
								<div class="product-details">
									<h6>زیره چکش جدید آدیداس برای افراد ورزشی</h6>
									<div class="price">
										<h6>150,000 تومان</h6>
										<h6 class="l-through">210,000 تومان</h6>
									</div>
									<div class="prd-bottom">

										<a href="" class="social-info">
											<span class="ti-bag"></span>
											<p class="hover-text">افزودن به سبد</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-heart"></span>
											<p class="hover-text">لیست آرزوها</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-sync"></span>
											<p class="hover-text">مقایسه</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-move"></span>
											<p class="hover-text">مشاهده بیشتر</p>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- End Best Seller -->
				<!-- Start Filter Bar -->
				<div class="filter-bar d-flex flex-wrap align-items-center">
					<div class="sorting mr-auto">
						<select>
							<option value="1">نمایش 12</option>
							<option value="1">نمایش 12</option>
							<option value="1">نمایش 12</option>
						</select>
					</div>
					<div class="pagination">
						<a href="#" class="prev-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						<a href="#" class="active">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
						<a href="#">6</a>
						<a href="#" class="next-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
					</div>
				</div>
				<!-- End Filter Bar -->
			</div>
		</div>
	</div>

  {% include 'weekly_deals/includes/weekly_deals.html' %}

{% endblock %}
