{% extends 'main/_layout.html' %}
{% load static %}
{% block title %}
    جزئیات محصول
{% endblock %}

{% block content %}

    <!-- start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>جزئیات محصول</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{% url 'home' %}">خانه<span class="lnr lnr-arrow-left"></span></a>
                        <a href="#">فروشگاه<span class="lnr lnr-arrow-left"></span></a>
                        <a href="{% url 'home' %}">جزئیات محصول</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Single Product Area =================-->
    <div class="product_image_area">
        <div class="container">
            <div class="row s_product_inner">

                <div class="col-lg-6">
                    <div class="s_Product_carousel">

                        {% for image in product.images.all %}
                            <div class="single-prd-item">
                                <img class="img-fluid"
                                     src="{{ image.image.url }}"
                                     alt="{{ product.title }}">
                            </div>
                        {% empty %}
                            <div class="single-prd-item">
                                <span>تصویری برای این محصول وجود ندارد.</span>
                            </div>
                        {% endfor %}

                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="s_product_text">

                        <h3>{{ product.title }}</h3>

                        {% if product.discount_percent > 0 %}

                            <div>
                                <del>{{ product.price|floatformat:0 }} تومان</del>
                            </div>

                            <h2>
                                {{ product.final_price|floatformat:0 }} تومان
                            </h2>

                        {% else %}

                            <h2>
                                {{ product.price|floatformat:0 }} تومان
                            </h2>
                        {% endif %}

                        <ul class="list">

                            <li>
                                <a class="active" href="#">
                                    <span>دسته</span> :
                                    {{ product.category.title }}
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <span>برند</span> :
                                    {% if product.brand %}
                                        {{ product.brand.title }}
                                    {% else %}
                                        بدون برند
                                    {% endif %}
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <span>موجودی</span> :

                                    {% if product.is_in_stock %}
                                        در انبار موجود است
                                    {% else %}
                                        ناموجود
                                    {% endif %}

                                </a>
                            </li>

                        </ul>

                        <p>
                            {{ product.short_description }}
                        </p>

                        <div class="product_count">

                            <label for="qty">تعداد:</label>

                            <input type="number"
                                   name="qty"
                                   id="sst"
                                   min="1"
                                   max="{{ product.inventory }}"
                                   value="1"
                                   title="Quantity:"
                                   class="input-text qty">

                            <button onclick="
                            var result = document.getElementById('sst');
                            var value = parseInt(result.value);
                            var max = parseInt(result.max);

                            if (value < max) {
                                result.value = value + 1;
                            }

                            return false;
                        "
                                    class="increase items-count"
                                    type="button">
                                <i class="lnr lnr-chevron-up"></i>
                            </button>
                            <button onclick="
                            var result = document.getElementById('sst');
                            var value = parseInt(result.value);

                            if (value > 1) {
                                result.value = value - 1;
                            }
                            return false;
                        "
                                    class="reduced items-count"
                                    type="button">

                                <i class="lnr lnr-chevron-down"></i>

                            </button>

                        </div>

                        <div class="card_area d-flex align-items-center">

                            {% if product.is_in_stock %}

                                <a class="primary-btn" href="#">
                                    افزودن به سبد
                                </a>

                            {% else %}
                                <a class="primary-btn disabled"
                                   href="#">
                                    ناموجود
                                </a>
                            {% endif %}

                            <a class="icon_btn" href="#">
                                <i class="lnr lnr-diamond"></i>
                            </a>

                            <a class="icon_btn" href="#">
                                <i class="lnr lnr-heart"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================End Single Product Area =================-->

    <!--================Product Description Area =================-->
    <section class="product_description_area">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                       aria-selected="true">توضیحات</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                       aria-controls="profile"
                       aria-selected="false">مشخصات</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                       aria-controls="contact"
                       aria-selected="false">نظرات</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab"
                       aria-controls="review"
                       aria-selected="false">مرورها</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <p>{{ product.description|linebreaksbr }}</p>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            {% for specification in product.specifications.all %}
                                <tr>
                                    <td><h5>{{ specification.key }}</h5></td>
                                    <td><h5>{{ specification.value }}</h5></td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="2">
                                        <h5>مشخصاتی برای این محصول ثبت نشده است.</h5>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="comment_list">
                                <div class="review_item">
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="{% static 'img/product/review-1.png' %}" alt="">
                                        </div>
                                        <div class="media-body">
                                            <h4>بلیک رویز</h4>
                                            <h5>12 بهمن 1396 در 05:56 ب.ظ</h5>
                                            <a class="reply_btn" href="#">Reply</a>
                                        </div>
                                    </div>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است
                                        و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                                        کاربردی می‌باشد. کتابهای زیادی در شصت و سه درصد گذشته</p>
                                </div>
                                <div class="review_item reply">
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="{% static 'img/product/review-2.png' %}" alt="">
                                        </div>
                                        <div class="media-body">
                                            <h4>بلیک رویز</h4>
                                            <h5>12 بهمن 1396 در 05:56 ب.ظ</h5>
                                            <a class="reply_btn" href="#">Reply</a>
                                        </div>
                                    </div>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است
                                        و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                                        کاربردی می‌باشد. کتابهای زیادی در شصت و سه درصد گذشته</p>

                                </div>
                                <div class="review_item">
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="{% static 'img/product/review-3.png' %}" alt="">
                                        </div>
                                        <div class="media-body">
                                            <h4>بلیک رویز</h4>
                                            <h5>12 بهمن 1396 در 05:56 ب.ظ</h5>
                                            <a class="reply_btn" href="#">Reply</a>
                                        </div>
                                    </div>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است
                                        و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                                        کاربردی می‌باشد. کتابهای زیادی در شصت و سه درصد گذشته</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="review_box">
                                <h4>ارسال نظر</h4>
                                <form class="row contact_form" action="#" method="post" id="contactForm"
                                      novalidate="novalidate">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="name" name="name"
                                                   placeholder="نام شما">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="email" name="email"
                                                   placeholder="ایمیل شما">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="number" name="number"
                                                   placeholder="شماره تلفن">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="form-control" name="message" id="message" rows="1"
                                                      placeholder="پیام"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-right">
                                        <button type="submit" value="submit" class="btn primary-btn">اکنون ارسال کنید
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row total_rate">
                                <div class="col-6">
                                    <div class="box_total">
                                        <h5>به طور کلی</h5>
                                        <h4>4.0</h4>
                                        <h6>(03 مرورها)</h6>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="rating_list">
                                        <h3>بر اساس 3 بررسی</h3>
                                        <ul class="list">
                                            <li><a href="#">5 ستاره <i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                                            <li><a href="#">4 ستاره <i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                                            <li><a href="#">3 ستاره <i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                                            <li><a href="#">2 ستاره <i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                                            <li><a href="#">1 ستاره &nbsp;<i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="review_list">
                                <div class="review_item">
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="{% static 'img/product/review-1.png' %}" alt="">
                                        </div>
                                        <div class="media-body">
                                            <h4>بلیک رویز</h4>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است
                                        و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                                        کاربردی می‌باشد. کتابهای زیادی در شصت و سه درصد گذشته</p>

                                </div>
                                <div class="review_item">
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="{% static 'img/product/review-2.png' %}" alt="">
                                        </div>
                                        <div class="media-body">
                                            <h4>بلیک رویز</h4>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است
                                        و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                                        کاربردی می‌باشد. کتابهای زیادی در شصت و سه درصد گذشته</p>

                                </div>
                                <div class="review_item">
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="{% static 'img/product/review-3.png' %}" alt="">
                                        </div>
                                        <div class="media-body">
                                            <h4>بلیک رویز</h4>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است
                                        و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                                        کاربردی می‌باشد. کتابهای زیادی در شصت و سه درصد گذشته</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="review_box">
                                <h4>یک بررسی اضافه کنید</h4>
                                <p>امتیاز شما:</p>
                                <ul class="list">
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                </ul>
                                <p>برجسته</p>
                                <form class="row contact_form" action="#" method="post" id="contactForm"
                                      novalidate="novalidate">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="name" name="name"
                                                   placeholder="نام شما" onfocus="this.placeholder = ''"
                                                   onblur="this.placeholder = 'نام شما'">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="email" name="email"
                                                   placeholder="ایمیل شما" onfocus="this.placeholder = ''"
                                                   onblur="this.placeholder = 'ایمیل شما'">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="number" name="number"
                                                   placeholder="شماره تلفن" onfocus="this.placeholder = ''"
                                                   onblur="this.placeholder = 'شماره تلفن'">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="form-control" name="message" id="message" rows="1"
                                                      placeholder="مرور" onfocus="this.placeholder = ''"
                                                      onblur="this.placeholder = 'مرور'"></textarea></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-right">
                                        <button type="submit" value="submit" class="primary-btn">اکنون ارسال کنید
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Product Description Area =================-->

{% endblock %}