{% extends 'main/_layout.html' %}
{% load static %}
{% block title %}
	 جزئیات محصول
{% endblock %}

{% block content %}

	<!-- start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>جزئیات محصول</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">خانه<span class="lnr lnr-arrow-left"></span></a>
						<a href="#">فروشگاه<span class="lnr lnr-arrow-left"></span></a>
						<a href="single-product.html">جزئیات محصول</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Single Product Area =================-->
	<div class="product_image_area">
		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-6">
					<div class="s_Product_carousel">
						<div class="single-prd-item">
							<img class="img-fluid" src="{% static 'img/category/s-p1.jpg' %}" alt="">
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="{% static 'img/category/s-p1.jpg' %}" alt="">
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="{% static 'img/category/s-p1.jpg' %}" alt="">
						</div>
					</div>
				</div>
				<div class="col-lg-5 offset-lg-1">
					<div class="s_product_text">
						<h3>بخاری روغن آسیاب 1000 وات سفید</h3>
						<h2>149,000 تومان</h2>
						<ul class="list">
							<li><a class="active" href="#"><span>دسته</span> : خانوار</a></li>
							<li><a href="#"><span>موجود</span> : در انبار</a></li>
						</ul>
						<p >لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می‌باشد.</p>
						<div class="product_count">
							<label for="qty">تعداد:</label>
							<input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
							<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
							 class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
							<button onclick="var result = document.getElementById('sst'); var sst = result.value; return false;"
							 class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
						</div>
						<div class="card_area d-flex align-items-center">
							<a class="primary-btn" href="#">افزودن به سبد</a>
							<a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
							<a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================End Single Product Area =================-->

	<!--================Product Description Area =================-->
	<section class="product_description_area">
		<div class="container">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">توضیحات</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
					 aria-selected="false">مشخصات</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
					 aria-selected="false">نظرات</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
					 aria-selected="false">مرورها</a>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
					<p>از آنجایی که بسیاری از طراحان و برنامه‌نویسان برای تکمیل پروژه‌های خود و نشان دادن طرح تکمیل شده، نیاز به متن‌های تستی و آزمایشی دارند، و از آنجایی که تایپ متن‌های آزمایشی می‌تواند زمان بسیار زیادی از طراح بگیرد… و زمان را هدر بدهد، از این رو متن‌های لورم ایپسوم (Lorem ipsum) خلق شد و یک متن جهانی و سراسری است که فقط و فقط به منظور کمک به طراحان و برنامه‌نویسان ایجاد شد… تا با بهره‌گیری از این متن‌ها پروژه‌ها با سرعت بیشتری گسترش یا بدون دغدغه تولید متن کنار برود.</p>
					<p>از آنجایی که بسیاری از طراحان و برنامه‌نویسان برای تکمیل پروژه‌های خود و نشان دادن طرح تکمیل شده، نیاز به متن‌های تستی و آزمایشی دارند، و از آنجایی که تایپ متن‌های آزمایشی می‌تواند زمان بسیار زیادی از طراح بگیرد… و زمان را هدر بدهد، از این رو متن‌های لورم ایپسوم (Lorem ipsum) خلق شد و یک متن جهانی و سراسری است که فقط و فقط به منظور کمک به طراحان و برنامه‌نویسان ایجاد شد… تا با بهره‌گیری از این متن‌ها پروژه‌ها با سرعت بیشتری گسترش یا بدون دغدغه تولید متن کنار برود.</p>
				</div>
				<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					<div class="table-responsive">
						<table class="table">
							<tbody>
								<tr>
									<td>
										<h5>عرض</h5>
									</td>
									<td>
										<h5>128mm</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>ارتفاع</h5>
									</td>
									<td>
										<h5>508mm</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>عمق</h5>
									</td>
									<td>
										<h5>85mm</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>وزن</h5>
									</td>
									<td>
										<h5>52gm</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>بررسی کیفیت</h5>
									</td>
									<td>
										<h5>بله</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>مدت زمان طراوت</h5>
									</td>
									<td>
										<h5>03 روز</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>هنگام بسته بندی</h5>
									</td>
									<td>
										<h5>بدون لمس دست</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>هر جعبه شامل</h5>
									</td>
									<td>
										<h5>60 قطعه</h5>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
					<div class="row">
						<div class="col-lg-6">
							<div class="comment_list">
								<div class="review_item">
									<div class="media">
										<div class="d-flex">
											<img src="{% static 'img/product/review-1.png' %}" alt="">
										</div>
										<div class="media-body">
											<h4>بلیک رویز</h4>
											<h5>12 بهمن 1396 در 05:56 ب.ظ</h5>
											<a class="reply_btn" href="#">Reply</a>
										</div>
									</div>
									<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می‌باشد. کتابهای زیادی در شصت و سه درصد گذشته</p>
								</div>
								<div class="review_item reply">
									<div class="media">
										<div class="d-flex">
											<img src="{% static 'img/product/review-2.png' %}" alt="">
										</div>
										<div class="media-body">
											<h4>بلیک رویز</h4>
											<h5>12 بهمن 1396 در 05:56 ب.ظ</h5>
											<a class="reply_btn" href="#">Reply</a>
										</div>
									</div>
									<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می‌باشد. کتابهای زیادی در شصت و سه درصد گذشته</p>

								</div>
								<div class="review_item">
									<div class="media">
										<div class="d-flex">
											<img src="{% static 'img/product/review-3.png' %}" alt="">
										</div>
										<div class="media-body">
											<h4>بلیک رویز</h4>
											<h5>12 بهمن 1396 در 05:56 ب.ظ</h5>
											<a class="reply_btn" href="#">Reply</a>
										</div>
									</div>
									<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می‌باشد. کتابهای زیادی در شصت و سه درصد گذشته</p>

								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="review_box">
								<h4>ارسال نظر</h4>
								<form class="row contact_form" action="#" method="post" id="contactForm" novalidate="novalidate">
									<div class="col-md-12">
										<div class="form-group">
											<input type="text" class="form-control" id="name" name="name" placeholder="نام شما">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input type="email" class="form-control" id="email" name="email" placeholder="ایمیل شما">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input type="text" class="form-control" id="number" name="number" placeholder="شماره تلفن">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<textarea class="form-control" name="message" id="message" rows="1" placeholder="پیام"></textarea>
										</div>
									</div>
									<div class="col-md-12 text-right">
										<button type="submit" value="submit" class="btn primary-btn">اکنون ارسال کنید</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
					<div class="row">
						<div class="col-lg-6">
							<div class="row total_rate">
								<div class="col-6">
									<div class="box_total">
										<h5>به طور کلی</h5>
										<h4>4.0</h4>
										<h6>(03 مرورها)</h6>
									</div>
								</div>
								<div class="col-6">
									<div class="rating_list">
										<h3>بر اساس 3 بررسی</h3>
										<ul class="list">
											<li><a href="#">5 ستاره <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
													 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
											<li><a href="#">4 ستاره <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
													 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
											<li><a href="#">3 ستاره <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
													 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
											<li><a href="#">2 ستاره <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
													 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
											<li><a href="#">1 ستاره &nbsp;<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
													 class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="review_list">
								<div class="review_item">
									<div class="media">
										<div class="d-flex">
											<img src="{% static 'img/product/review-1.png' %}" alt="">
										</div>
										<div class="media-body">
											<h4>بلیک رویز</h4>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
									<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می‌باشد. کتابهای زیادی در شصت و سه درصد گذشته</p>

								</div>
								<div class="review_item">
									<div class="media">
										<div class="d-flex">
											<img src="{% static 'img/product/review-2.png' %}" alt="">
										</div>
										<div class="media-body">
											<h4>بلیک رویز</h4>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
									<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می‌باشد. کتابهای زیادی در شصت و سه درصد گذشته</p>

								</div>
								<div class="review_item">
									<div class="media">
										<div class="d-flex">
											<img src="{% static 'img/product/review-3.png' %}" alt="">
										</div>
										<div class="media-body">
											<h4>بلیک رویز</h4>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
									<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می‌باشد. کتابهای زیادی در شصت و سه درصد گذشته</p>

								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="review_box">
								<h4>یک بررسی اضافه کنید</h4>
								<p>امتیاز شما:</p>
								<ul class="list">
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
									<li><a href="#"><i class="fa fa-star"></i></a></li>
								</ul>
								<p>برجسته</p>
								<form class="row contact_form" action="#" method="post" id="contactForm" novalidate="novalidate">
									<div class="col-md-12">
										<div class="form-group">
											<input type="text" class="form-control" id="name" name="name" placeholder="نام شما" onfocus="this.placeholder = ''" onblur="this.placeholder = 'نام شما'">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input type="email" class="form-control" id="email" name="email" placeholder="ایمیل شما" onfocus="this.placeholder = ''" onblur="this.placeholder = 'ایمیل شما'">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input type="text" class="form-control" id="number" name="number" placeholder="شماره تلفن" onfocus="this.placeholder = ''" onblur="this.placeholder = 'شماره تلفن'">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<textarea class="form-control" name="message" id="message" rows="1" placeholder="مرور" onfocus="this.placeholder = ''" onblur="this.placeholder = 'مرور'"></textarea></textarea>
										</div>
									</div>
									<div class="col-md-12 text-right">
										<button type="submit" value="submit" class="primary-btn">اکنون ارسال کنید</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Product Description Area =================-->

	<!-- Start related-product Area -->
	<section class="related-product-area section_gap_bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>معاملات هفته</h1>
						<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
							است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-9">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="{% static 'img/r1.jpg' %}" alt=""></a>
								<div class="desc">
									<a href="#" class="title">پاشنه توری مشکی</a>
									<div class="price">
										<h6>189,000 تومان</h6>
										<h6 class="l-through">210,000</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="{% static 'img/r2.jpg' %}" alt=""></a>
								<div class="desc">
									<a href="#" class="title">پاشنه توری مشکی</a>
									<div class="price">
										<h6>189,000 تومان</h6>
										<h6 class="l-through">210,000</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="{% static 'img/r3.jpg' %}" alt=""></a>
								<div class="desc">
									<a href="#" class="title">پاشنه توری مشکی</a>
									<div class="price">
										<h6>189,000 تومان</h6>
										<h6 class="l-through">210,000</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="{% static 'img/r5.jpg' %}" alt=""></a>
								<div class="desc">
									<a href="#" class="title">پاشنه توری مشکی</a>
									<div class="price">
										<h6>189,000 تومان</h6>
										<h6 class="l-through">210,000</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="{% static 'img/r6.jpg' %}" alt=""></a>
								<div class="desc">
									<a href="#" class="title">پاشنه توری مشکی</a>
									<div class="price">
										<h6>189,000 تومان</h6>
										<h6 class="l-through">210,000</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="{% static 'img/r7.jpg' %}" alt=""></a>
								<div class="desc">
									<a href="#" class="title">پاشنه توری مشکی</a>
									<div class="price">
										<h6>189,000 تومان</h6>
										<h6 class="l-through">210,000</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-related-product d-flex">
								<a href="#"><img src="{% static 'img/r9.jpg' %}" alt=""></a>
								<div class="desc">
									<a href="#" class="title">پاشنه توری مشکی</a>
									<div class="price">
										<h6>189,000 تومان</h6>
										<h6 class="l-through">210,000</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-related-product d-flex">
								<a href="#"><img src="{% static 'img/r10.jpg' %}" alt=""></a>
								<div class="desc">
									<a href="#" class="title">پاشنه توری مشکی</a>
									<div class="price">
										<h6>189,000 تومان</h6>
										<h6 class="l-through">210,000</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-related-product d-flex">
								<a href="#"><img src="{% static 'img/r11.jpg' %}" alt=""></a>
								<div class="desc">
									<a href="#" class="title">پاشنه توری مشکی</a>
									<div class="price">
										<h6>189,000 تومان</h6>
										<h6 class="l-through">210,000</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="ctg-right">
						<a href="#" target="_blank">
							<img class="img-fluid d-block mx-auto" src="{% static 'img/category/c5.jpg' %}" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End related-product Area -->
{% endblock %}