{% extends 'main/_layout.html' %}

{% block title %}
    پرداخت
{% endblock %}

{% block content %}
<section class="section_gap">
    <div class="container">
        <div class="text-center">
            <h2>درگاه پرداخت تستی</h2>
            <p>شماره سفارش: {{ order.id }}</p>
            <p>مبلغ قابل پرداخت: {{ order.calculate_total_price }} تومان</p>

            <form method="post">
                {% csrf_token %}
                <button type="submit" name="result" value="success" class="primary-btn">
                    پرداخت موفق
                </button>

                <button type="submit" name="result" value="failed" class="primary-btn">
                    پرداخت ناموفق
                </button>
            </form>
        </div>
    </div>
</section>
{% endblock %}