{% extends 'main/_layout.html' %}
{% block title %}
    صفحه تماس با ما
{% endblock %}
{% block content %}


	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>تماس با ما</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">خانه<span class="lnr lnr-arrow-left"></span></a>
						<a href="#">تماس</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Contact Area =================-->
	<section class="contact_area section_gap_bottom">
		<div class="container">
			<div id="mapBox" class="mapBox" data-lat="40.701083" data-lon="-74.1522848" data-zoom="13"
				data-info="PO Box CT16122 Collins Street West, Victoria 8007, Australia." data-mlat="40.701083"
				data-mlon="-74.1522848">
			</div>
			<div class="row">
				<div class="col-lg-3">
					<div class="contact_info">
						<div class="info_item">
							<i class="lnr lnr-home"></i>
							<h6>ایران ، تهران</h6>
							<p>کریم خان</p>
						</div>
						<div class="info_item">
							<i class="lnr lnr-phone-handset"></i>
							<h6><a href="#"><span dir="ltr">021 366 3588</span></a></h6>
							<p>دوشنبه تا جمعه 9 صبح تا 6 بعد از ظهر</p>
						</div>
						<div class="info_item">
							<i class="lnr lnr-envelope"></i>
							<h6><a href="#">support@colorlib.com</a></h6>
							<p>درخواست خود را در هر زمان برای ما ارسال کنید!</p>
						</div>
					</div>
				</div>
				<div class="col-lg-9">
					<form class="row contact_form" action="contact_process.php" method="post" id="contactForm"
						novalidate="novalidate">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" id="name" name="name"
									placeholder="نام شما" onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'نام شما'">
							</div>
							<div class="form-group">
								<input type="email" class="form-control" id="email" name="email"
									placeholder="ایمیل شما" onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'ایمیل شما'">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="subject" name="subject"
									placeholder="موضوع" onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'موضوع'">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<textarea class="form-control" name="message" id="message" rows="1"
									placeholder="پیام" onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'پیام'"></textarea>
							</div>
						</div>
						<div class="col-md-12 text-left">
							<button type="submit" value="submit" class="primary-btn">ارسال پیام</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!--================Contact Area =================-->

{% endblock %}